<!--Macro-->
{% macro test_macro() %}
<div>
    <h2>
        <b>Hello Marco!</b>
    </h2>
</div>
{% endmacro %}

{% macro task_entry(config) %}
<div class="row row-cols-5 p-2">
    {% if config['startTime'] %}
    <div class="col">
        <span class="align-middle">{{ config['startTime'] }}</span>
    </div>
    {% else %}
    <div class="col">
        <span class="align-middle">-</span>
    </div>
    {% endif %}

    <div class="col">
        <span class="align-middle">{{ config['identifier'] }}</span>
    </div>

    <div class="col">
        <span class="align-middle">{{ config['gene'] }}</span>
    </div>

    {% if config['state'] == 'Preparation' %}
    <div class="col">
        <span class="align-middle"><span class="badge bg-primary">{{ config['state'] }}</span></span>
    </div>
    {% elif config['state'] == 'Running' %}
    <div class="col">
        <span class="align-middle"><span class="badge bg-warning">{{ config['state'] }}</span></span>
    </div>
    {% elif config['state'] == 'Error' %}
    <div class="col">
        <span class="align-middle"><span class="badge bg-danger">{{ config['state'] }}</span></span>
    </div>
    {% elif config['state'] == 'Success' %}
    <div class="col">
        <span class="align-middle"><span class="badge bg-success">{{ config['state'] }}</span></span>
    </div>
    {% endif %}

    <div class="col">
        <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{ config['entry'] }}" aria-expanded="false" aria-controls="collapse">
            <b>-↓-</b>
        </button>
    </div>
</div>
<div class="collapse" id="{{ config['entry'] }}">
    <div class="card card-body border-0 m-3 p-4" style="background-color: #e9ecef">
        {{ task_table(config) }}
    </div>
</div>
{% endmacro %}

{% macro task_table(config) %}
<div class="p-2 row bg-secondary text-white border-bottom border-3">
    <div class="col"><b>Time</b></div>
    <div class="col"><b>Identifier</b></div>
    <div class="col"><b>Peptides</b></div>
    <div class="col"><b>Description</b></div>
</div>
<div class="p-2 row">
    <div class="col">{{ config['startTime'] }}</div>
    <div class="col">{{ config['identifier'] }}</div>
    <div class="col">{{ config['peptides'] }}</div>
    <div class="col">{{ config['description'] }}</div>
</div>

<div class="p-2 row bg-secondary text-white border-bottom border-3">
    <div class="col"><b>Digestion Information</b></div>
    <div class="col"><b>Enzyme</b></div>
    <div class="col"><b>Missed Cleavages</b></div>
    <div class="col"><b>Min Length</b></div>
    <div class="col"><b>Max Length</b></div>
</div>
<div class="p-2 row">
    <div class="col"></div>
    <div class="col">{{ config['digestion']['rules'] }}</div>
    <div class="col">{{ config['digestion']['miss'] }}</div>
    <div class="col">{{ config['digestion']['min_length'] }}</div>
    <div class="col">{{ config['digestion']['max_length'] }}</div>
</div>

<div class="p-2 row bg-secondary text-white border-bottom border-3">
    <div class="col"><b>Organism Information</b></div>
    <div class="col"><b>Accession</b></div>
    <div class="col"><b>Name</b></div>
    <div class="col"><b>Proteome Source</b></div>
    <div class="col"><b></b></div>
</div>
<div class="p-2 row">
    <div class="col"></div>
    <div class="col">{{ config['organism']['accession'] }}</div>
    <div class="col">{{ config['organism']['name'] }}</div>
    <div class="col">{{ config['proteome_source'] }}</div>
    <div class="col"></div>
</div>

<div class="p-2 row bg-secondary text-white border-bottom border-3">
    <div class="col"><b>Task Information</b></div>
    <div class="col"><b>Task</b></div>
    <div class="col"><b>Mapper</b></div>
    <div class="col"><b>State</b></div>
    <div class="col"><b></b></div>
</div>
<div class="p-2 row">
    <div class="col"></div>
    <div class="col">{{ config['task'] }}</div>
    <div class="col">
        {% for mapper in config['mappers'] %}
        <div>{{ mapper }}</div>
        {% endfor %}
    </div>
    <div class="col">{{ config['state'] }}</div>
    {% if config['state'] == 'Success' %}
    <div class="col">
        <a href="/test2/{{ config['task'] }}" class="btn btn-primary btn-sm" type="button">
            <b>View</b>
        </a>
    </div>
    {% else %}
    <div class="col">
        <button class="btn btn-primary btn-sm" type="button" disabled>
            <b>View</b>
        </button>
    </div>
    {% endif %}
</div>
{% endmacro %}


{% macro project_card(project) %}
<div class="card m-3">
    <div class="card-header">
        {% if project['peptides'] %}
        <span class="align-middle"><span class="badge bg-primary">peptide-level</span></span>
        {% endif %}

        {% if project['protein'] %}
        <span class="align-middle"><span class="badge bg-primary">protein-level</span></span>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="card-title">
            <a href="#" class="link-secondary fs-4"><span class="d-inline-block text-truncate">
                    Proteomic screen reveals Fbw7 as a modulator of the NF-kB pathway
                </span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-hand-index-fill" viewBox="0 0 16 16">
                <path d="M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002z"/>
            </svg>
        </div>

        <div class="card-text">
            <div class="col">
                <div class="row"><span><b>PRIDE. </b>PXD000005</span></div>
                <div class="row">
                        <span style="
                        display: -webkit-box;
                        overflow: hidden;
                        white-space: normal !important;
                        text-overflow: ellipsis;
                        word-wrap:break-word;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical">
                            Proteomics on HCT116 cells. 3 samples wild-type, 3 samples Fbw7 KO. Subcellular fractionation to cytoplasmic and nuclear fractions. Proteins were reduced with DTT, alkylated with iodoacetamide, digested with trypsin, and labelled with TMT6-plex:  126,127,128 - wildtype; 129,130,131 - Fbw7 KO. Sample separation by high resolution isoelectric focusing at peptide level, whereafter 72 fractions were loaded onto reversed phase LC-MSMS
                        </span>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
            </svg>
            research
        </a>
    </div>

    <div class="card-footer">
        {% for keyword in project['keywords'] %}
        <span class="badge rounded-pill bg-secondary">keyword</span>
        {% endfor %}
    </div>

</div>

{% endmacro %}


{% macro dataset_card(dataset) %}
<div class="card card-lg p-3 m-3">
    <div class="card-body ">
        <div class="container-lg h4 m-3">
            <a href="#" style="color: #5f801e">
                <strong>{{ dataset['title'] }}</strong>
            </a>
        </div>
        <div class="container-lg m-3">
            <div class="col">
                <div class="row">
                    <div>
                        {% for i in dataset['authors'] %}
                        {{ i+',' }}
                        {% endfor %}
                    </div>
                </div>
                <div class="row" style="color: #5f801e">
                    <div>
                        <b>{{ dataset['database'] }}. </b>{{ dataset['time'] }}.
                        Accession: {{ dataset['identifier'] }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg m-3"
             style="display: -webkit-box;
                    overflow: hidden;
                    white-space: normal !important;
                    text-overflow: ellipsis;
                    word-wrap:break-word;
                    -webkit-line-clamp:5;
                    -webkit-box-orient: vertical">

            {{ dataset['summary'] }}

        </div>
        <div class="container-lg m-3">
            <!-- Keywords -->
            <div class="row">
                <div class="col-lg-1">
                    <b>Keyword</b>
                </div>
                <div class="col-lg-8 text-truncate text-secondary">
                    {% for keyword in dataset['keywords'] %}
                    {{ keyword }};
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container-lg">
            <div class="row gap-3">
                <div class="col-lg-1">
                    {% if dataset['protein'] %}
                    <div class="badge bg-success">Protein Level</div>
                    {% else %}
                    <div class="badge bg-secondary ">Protein Level</div>
                    {% endif %}
                </div>
                <div class="col-lg-1">
                    {% if dataset['peptides'] %}
                    <div class="badge bg-success ">Peptides Level</div>
                    {% else %}
                    <div class="badge bg-secondary ">Peptides Level</div>
                    {% endif %}
                </div>
                <div class="col-lg-1">
                    <abbr class="text-warning" title="Somethings">
                        <strong>?</strong>
                    </abbr>
                </div>

                <div class="col-1 ">|</div>

                <div class="col-lg ">
                    <a href="{{ dataset['website'] }}" class="text-secondary" target="_blank"><strong>Go to
                        Source</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
