<!--Macro-->
{% macro test_macro() %}
<div>
    <h2>
        <b>Hello Marco!</b>
    </h2>
</div>
{% endmacro %}

{% macro task_entry(config) %}
<div class="row row-cols-4 p-2 text-lg-center">
    {% if config['startTime'] %}
    <div class="col align-self-lg-center">
        <span class="align-middle">{{ config['startTime'] }}</span>
    </div>
    {% else %}
    <div class="col align-self-lg-center">
        <span class="align-middle">-</span>
    </div>
    {% endif %}

    <div class="col align-self-lg-center">
        <span class="align-middle">{{ config['identifier'] }}</span>
    </div>

    {% if config['state'] == 'Preparation' %}
    <div class="col align-self-lg-center">
        <span class="align-middle"><span class="badge bg-primary">{{ config['state'] }}</span></span>
    </div>
    {% elif config['state'] == 'Running' %}
    <div class="col align-self-lg-center">
        <span class="align-middle"><span class="badge bg-warning">{{ config['state'] }}</span></span>
    </div>
    {% elif config['state'] == 'Error' %}
    <div class="col align-self-lg-center">
        <span class="align-middle"><span class="badge bg-danger">{{ config['state'] }}</span></span>
    </div>
    {% elif config['state'] == 'Success' %}
    <div class="col align-self-lg-center">
        <span class="align-middle"><span class="badge bg-success">{{ config['state'] }}</span></span>
    </div>
    {% endif %}

    <div class="col align-self-lg-center">
        <button class="btn text-bg-secondary py-0 border-0 fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{ config['entry'] }}" aria-expanded="false" aria-controls="collapse">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrows-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"/>
            </svg>
            Expend
        </button>
    </div>
</div>
<div class="collapse" id="{{ config['entry'] }}">
    <div class="card card-body border-0 m-3 p-4" style="background-color: #e9ecef">
        {{ task_table(config) }}
    </div>
</div>
{% endmacro %}

{% macro task_table(config) %}
<div class="p-2 row bg-secondary text-white border-bottom border-3 ">
    <div class="col">Time</div>
    <div class="col">Identifier</div>
    <div class="col">Peptides</div>
    <div class="col">Description</div>
</div>
<div class="p-2 row">
    <div class="col">{{ config['startTime'] }}</div>
    <div class="col">{{ config['identifier'] }}</div>
    <div class="col">{{ config['peptides'] }}</div>
    <div class="col">{{ config['description'] }}</div>
</div>

<div class="p-2 row bg-secondary text-white border-bottom border-3">
    <div class="col fw-bold">Digestion Information</div>
    <div class="col">Enzyme</div>
    <div class="col">Missed Cleavages</div>
    <div class="col">Min Length</div>
    <div class="col">Max Length</div>
</div>
<div class="p-2 row">
    <div class="col"></div>
    <div class="col">{{ config['digestion']['rules'] }}</div>
    <div class="col">{{ config['digestion']['miss'] }}</div>
    <div class="col">{{ config['digestion']['min_length'] }}</div>
    <div class="col">{{ config['digestion']['max_length'] }}</div>
</div>

<div class="p-2 row bg-secondary text-white border-bottom border-3">
    <div class="col fw-bold">Organism Information</div>
    <div class="col">Accession</div>
    <div class="col">Name</div>
    <div class="col">Proteome Source</div>
    <div class="col"></div>
</div>
<div class="p-2 row">
    <div class="col"></div>
    <div class="col">{{ config['organism']['accession'] }}</div>
    <div class="col">{{ config['organism']['name'] }}</div>
    <div class="col">{{ config['proteome_source'] }}</div>
    <div class="col"></div>
</div>

<div class="p-2 row bg-secondary text-white border-bottom border-3">
    <div class="col"><b>Task Information</b></div>
    <div class="col">Task</div>
    <div class="col">Mapper</div>
    <div class="col">State</div>
    <div class="col"></div>
</div>
<div class="p-2 row">
    <div class="col"></div>
    <div class="col">{{ config['task'] }}</div>
    <div class="col">
        {% for mapper in config['mappers'] %}
        <div>{{ mapper }}</div>
        {% endfor %}
    </div>
    <div class="col">{{ config['state'] }}</div>
    {% if config['state'] == 'Success' %}
    <div class="col">
        <a href="/taskbar/{{ config['task'] }}" class="btn btn-outline-success btn-sm fw-bold" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-zoom-in"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                <path d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z"/>
                <path fill-rule="evenodd"
                      d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            Details
        </a>
    </div>
    {% else %}
    <div class="col">
        <button class="btn btn-outline-dark btn-sm" type="button" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square"
                 viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <b>Details</b>
        </button>
    </div>
    {% endif %}
</div>
{% endmacro %}


{% macro project_card(project) %}
<div class="card m-3">
    <div class="card-header">
        {% if project['peptides'] %}
        <span class="align-middle"><span class="badge bg-primary">peptide-level</span></span>
        {% endif %}

        {% if project['protein'] %}
        <span class="align-middle"><span class="badge bg-primary">protein-level</span></span>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="card-title">
            <a href="#" class="link-secondary fs-4"><span class="d-inline-block text-truncate">
                    Proteomic screen reveals Fbw7 as a modulator of the NF-kB pathway
                </span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-hand-index-fill" viewBox="0 0 16 16">
                <path d="M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002z"/>
            </svg>
        </div>

        <div class="card-text">
            <div class="col">
                <div class="row"><span><b>PRIDE. </b>PXD000005</span></div>
                <div class="row">
                        <span style="
                        display: -webkit-box;
                        overflow: hidden;
                        white-space: normal !important;
                        text-overflow: ellipsis;
                        word-wrap:break-word;
                        -webkit-line-clamp:3;
                        -webkit-box-orient: vertical">
                            Proteomics on HCT116 cells. 3 samples wild-type, 3 samples Fbw7 KO. Subcellular fractionation to cytoplasmic and nuclear fractions. Proteins were reduced with DTT, alkylated with iodoacetamide, digested with trypsin, and labelled with TMT6-plex:  126,127,128 - wildtype; 129,130,131 - Fbw7 KO. Sample separation by high resolution isoelectric focusing at peptide level, whereafter 72 fractions were loaded onto reversed phase LC-MSMS
                        </span>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
            </svg>
            research
        </a>
    </div>

    <div class="card-footer">
        {% for keyword in project['keywords'] %}
        <span class="badge rounded-pill bg-secondary">keyword</span>
        {% endfor %}
    </div>

</div>
{% endmacro %}


{% macro dataset_card(dataset) %}
<div class="card card-lg p-3 m-3">
    <div class="card-body ">
        <div class="container-lg fs-4 m-3">
            <a class="fw-bold text-decoration-none" href="#" style="color: #0071bc">
                {{ dataset['title'] }}
            </a>
        </div>
        <div class="container-lg m-3">
            <div class="col">
                <div class="row">
                    <div>
                        {% for i in dataset['authors'] %}
                        {{ i+',' }}
                        {% endfor %}
                    </div>
                </div>
                <div class="row" style="color: #4d8070">
                    <div>
                        <b>{{ dataset['database'] }}. </b>{{ dataset['time'] }}.
                        Accession: {{ dataset['identifier'] }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg m-3"
             style="display: -webkit-box;
                    overflow: hidden;
                    white-space: normal !important;
                    text-overflow: ellipsis;
                    word-wrap:break-word;
                    -webkit-line-clamp:5;
                    -webkit-box-orient: vertical">

            {{ dataset['summary'] }}

        </div>
        <div class="container-lg m-3">
            <!-- Keywords -->
            <div class="row">
                <div class="col-lg-1">
                    <b>Keyword</b>
                </div>
                <div class="col-lg-8 text-truncate text-secondary">
                    {% for keyword in dataset['keywords'] %}
                    {{ keyword }};
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-auto">
                    <abbr class="text-warning"
                          title="The term 'protein level' refers to results obtained by searching using UniProt
                          identifiers, while 'peptides level' refers to results obtained by searching using peptide
                          sequences. Search results that exist at that level are shown in green, while those that do not
                           are shown in grey.">
                        <strong>?</strong>
                    </abbr>
                </div>
                <div class="col col-auto">
                    <ul class="list-inline list-inline-dots">
                        <li class="list-inline-item">
                            {% if dataset['protein'] %}
                            <div class="badge bg-success">Protein Level</div>
                            {% else %}
                            <div class="badge bg-secondary ">Protein Level</div>
                            {% endif %}

                        </li>
                        <li class="list-inline-item">
                            {% if dataset['peptides'] %}
                            <div class="badge bg-success ">Peptides Level</div>
                            {% else %}
                            <div class="badge bg-secondary ">Peptides Level</div>
                            {% endif %}
                        </li>
                    </ul>
                </div>


                <div class="col col-auto">|</div>

                <div class="col col-auto">
                    <a href="{{ dataset['website'] }}" class="text-secondary" target="_blank"><strong>Go to
                        Source</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro page_nav(page, page_num, router) %}

{% if router %}
{% set router = "/" + router %}
{% else %}
{% set router = "" %}
{% endif %}


{% if page != 1 %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ page-1 }}"><<</a>
</li>
{% else %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p1"><<</a>
</li>
{% endif %}

{% if page_num <= 7 %}
{% for p in range(1, page_num + 1) %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ p }}">{{ p }}</a>
</li>
{% endfor %}
{% else %}
{% if page <= 3 %}
{% for p in range(1, page + 2) %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ p }}">{{ p }}</a>
</li>
{% endfor %}
<li class="page-item"><a class="page-link text-black">...</a></li>
{% for p in range(page_num - 2, page_num + 1) %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ p }}">{{ p }}</a>
</li>
{% endfor %}
{% elif page >= page_num - 2 %}
{% for p in range(1, 3) %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ p }}">{{ p }}</a>
</li>
{% endfor %}
<li class="page-item"><a class="page-link text-black">...</a></li>
{% for p in range(page - 1, page_num + 1) %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ p }}">{{ p }}</a>
</li>
{% endfor %}
{% else %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p1">1</a>
</li>
<li class="page-item"><a class="page-link text-black">...</a></li>
{% for p in range(page - 1, page + 2) %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ p }}">{{ p }}</a>
</li>
{% endfor %}
<li class="page-item"><a class="page-link text-black">...</a></li>
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ page_num }}">{{ page_num }}</a>
</li>
{% endif %}
{% endif %}

{% if page != page_num %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ page+1 }}">>></a>
</li>
{% else %}
<li class="page-item">
    <a class="page-link text-black" href="/taskbar{{ router }}?p{{ page_num }}">>></a>
</li>
{% endif %}
{% endmacro %}