{% extends "base.html" %}

{% block title %}Patpat{% endblock %}

{% block content %}
{% import 'macro.html' as macro with context %}


<div class="grid p-5 text-lg-center">

    <div class="row row-cols-4 fs-6 fw-bold text-white p-2 text-bg-secondary">

        <div class="col">Start Time</div>
        <div class="col">Identifier</div>

        <div class="col">Status</div>
        <div class="col">Configs</div>
    </div>

    {% for config in configs %}
    {{ macro.task_entry(config) }}
    {% endfor %}

</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {{ macro.page_nav(page, pagination_num[-1], "") }}
    </ul>
</nav>
{% endblock %}
